<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"><%= track.title %></a> <small>(by: <%= track.author %>)</small></h3>
    <p>
      <%= track.url %>
    </p>
  </div>
<% end %>
<a href="/tracks/new">Post a new track!</a>
