<% if @track && @track.errors.any? %>
  <div class="alert alert-danger">
    <strong>Oops! There's an issue or two with your track entry - please fix them:</strong>
    <ul>
      <% @track.errors.full_messages.each do |track| %>
        <li><%= track %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="new-track-form">
  <h2>Add a new track!</h2>
  <form method="post" action="/tracks">
    <div class="form-group">
      <label>Author:</label>
      <input type="text" class="form-control" name="author" value="<%= @track && @track.author %>">
    </div>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="form-control" name="title" value="<%= @track && @track.title %>">
    </div>
    <div class="form-group">
      <label>URL:</label>
      <input type="text" class="form-control" name="url" value="<%= @track && @track.url %>">
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
</section>
