<p><a href="/tracks">Back to All Tracks</a></p>

<div class="jumbotron">
  <h1><%= @track.title %></h1>
  <p>
    Author: <%= @track.author %>
  </p>
  <p>
    <a class="btn btn-primary btn-lg" href="<%= @track.url %>" role="button">Play track</a>
  </p>
</div>
